*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #343C56;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 46px auto;
}

ul{
    display: flex;
    justify-content: space-between;
}

ul li{
    background-color: red;
    border-radius: 30px;
    padding: 14px 45px;
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.main2{
    display: flex;
    justify-content: space-between;
    margin: 68px 0;
}

.main2 img{
    width: 560px;
    height: 330px;
}

.main3{
    background-color: black;
    color: white;
    padding: 44px 82px;
    border-radius: 40px;
    width: 264px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    margin: 0 auto;
}

.main4{
    display: flex;
    justify-content: space-between;
    margin: 41px auto;
}

.red{
    background-color: #EB1616;
    border-radius: 50px;
    padding: 45px 50px;
    max-width: 400px;
}

.green{
    max-height: 110px;
    background-color: #61FF00;
    padding: 28px 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    text-align: center;
}



